@use "../../styles/variables" as *;

.btn {
  width: fit-content;
  padding: 0.2em 0.5em;
  border: 0.1em solid $primary-white;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  transition: $transitions;
  cursor: pointer;
}
.dark {
  color: $primary-white;
  background-color: $primary-black;
  border-color: $primary-white;
}
.light {
  color: $primary-black;
  background-color: $primary-white;
  border-color: $primary-black;
}
.dark:hover,
.dark:focus {
  background-color: $secondary-white;
  color: $secondary-black;
}
.light:hover,
.light:focus {
  background-color: $secondary-black;
  color: $secondary-white;
}
