@use "../../styles/variables" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 0.2em solid $primary-white;
  font-size: 0.5em;
}
.light {
  border-color: $primary-black;
}
.dark {
  border-color: $primary-white;
}

.themeContainer {
  display: flex;
  gap: 1em;
}
