// $primaryColor: black;
// $secondaryColor: white;
$primary-white: white;
$primary-black: black;
$secondary-white: rgba(255, 255, 255, 0.847);
$secondary-black: #242424;
$transitions: all 0.3s ease-in-out;
